body {
  display: grid;
  grid-template-rows: 60px auto;
  grid-template-columns: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.homeBtnArea {
  margin-top: 20px;
  margin-left: 20px;
}

.rightNavArea {
  float: right;
  margin-top: -12px;
}

.navLinkHome {
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 30px;
  cursor: pointer;
  color: #e60023;
  letter-spacing: -2px;

}

.signUpBtn {
  background-color: #e60023;
  border-radius: 25px;
  padding: 15px;
  margin-right: 15px;
  text-decoration: none;
}

.loginBtn {
  background-color: #e60023;
  border-radius: 25px;
  padding: 15px;
  margin-right: 15px;
  text-decoration: none;
}

.navLink {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.myIdea {
  background-color: #e60023;
  border-radius: 25px;
  padding: 15px;
  margin-right: 15px;

}

.logOutBtn {
  background-color: #e60023;
  border-radius: 25px;
  padding: 15px;
  margin-right: 15px;
  cursor: pointer;
  color: white;
  font-weight: bold;
}

.container {
  border: 1px solid yellow;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.ideaContainer {
  margin-left: 75px;
  margin-right: 75px;
  margin-top: 40px;
  border: 1px solid blue;
  display: flex;
  flex-flow: row wrap;
  /* justify-content: space-between; */
  width: 100%;
  height: 100%;
}

.ideaCard {
  /* border: 1px solid green; */
  width: 240px;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 10px;
  border-radius: 8px;
}

.descriptionContainer {
  margin-top: -10px;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
}

.ideaImg {
  border-radius: 16px;
  width: 100%;
}

.loginFormContainer {
  display: flex;
  margin-top: 40px;
  border: 1px solid green;
  justify-content: center;
  align-items: center;

}

.loginInput {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 16px;
  width: 200px;
  margin-bottom: 20px;
  padding: 10px;
}

.favHeartOutline {
  cursor: pointer;
}

